<div class="container-fluid">
<h1 align = "center">ENROLLMENTS SECTIONS</h1>
<div id = "enrollments">
	<ul class="list-group">
	First Name &nbsp;&nbsp; Last Name       &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
  	Grades
    <li *ngFor="let student of students" class="list-group-item">
      {{student.student.firstName}}
      &nbsp;
      &nbsp;
      &nbsp;
      {{student.student.lastName}}
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
       A 
    </li>
  </ul>
</div>
</div>
