<div class="container-fluid">
  <h1>Sections for course: {{courseId}}</h1>
  <div *ngIf="isAdmin" id = "sections">
  <label>Section Name</label>
  <input [(ngModel)]="sectionName"
         placeholder="Section Name"
         class="form-control">
  <div id = "sections2">
  <label>Seats</label>
  <input [(ngModel)]="seats"
         placeholder="Seats available"
       class="form-control">
  <div id = "sections1">
  <button (click)="createSection(sectionName, seats)" class="btn btn-success btn-block">
    Add Section
  </button>
</div>
</div>
</div>




<div class="row" >
  <div *ngFor="let section of sections" class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{section.name}}</h5>
        <h5 class="card-title">{{section.seats}}</h5>
        <p class="card-text">Section for course</p>
        <div *ngIf="!isAdmin">
        <button (click)="enroll(section)"
              class="float-right btn btn-primary">Enroll</button>
        </div>
        <div *ngIf="isAdmin">
          <button (click)="enroll(section)"
              class="float-right btn btn-warning">Update</button>
      </div>

        <div *ngIf="isAdmin">
          <button (click)="deleteSection(section._id)"
              class="float-right btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>

</div>