#sections{
	margin-bottom: 10px;
	margin-left: 200px;
	margin-right: 200px;
	padding: 20px;
	margin-top: 50px;
	border-style: outset;
	
}

#sections1{
	margin-top: 5px;
}

#sectionCards{
	width:400px;
	margin-top: 5px;
	margin-bottom: 10px;
	height: 200px;
}

#updateButton{
	margin-right: 10px;
}

#studentsInSection{
	margin-bottom: 5px;
	margin-top: 2px; 
}
