<div class="container-fluid">
  <div id = "profilePlan">
  <h1>Profile</h1>
  <div id = "partions">
  <div id = "splitleft">

  <div id = "inputform">
  <label>USERNAME</label>
  <input [(ngModel)]="user.username"  
         placeholder="username"
         class="form-control"/>
  <label>FIRST NAME</label>
  <input [(ngModel)]="user.firstName"
         placeholder="first name"
         class="form-control"/>
  <label>LAST NAME</label>
  <input [(ngModel)]="user.lastName"
         placeholder="lastName"
         class="form-control"/>
  <label>EMAIL</label>
  <input [(ngModel)]="user.email"
         placeholder="email"
         type="email" 
         class="form-control"/>
    <label>PHONE NUMBER</label>     
    <input [(ngModel)]="user.phoneNumber"
         placeholder="phone number"
         class="form-control"/>
    <label>Address</label>     
    <input [(ngModel)]="user.address"
         placeholder="Address"
         class="form-control"/>
  <br/>
  <button (click)="update(user)"
          class="btn btn-primary btn-block">
    Update
  </button>
</div >

</div>

<div id = "splitright">
  <div *ngIf="!isAdmin">
  <h2>Enrolled Sections ({{sections.length}})</h2>
</div>

<div *ngIf="!isAdmin" id = "sectionDeck">
<div class="row" >
  <div *ngFor="let enrollment of sections" class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Section Name:{{enrollment.section.name}}</h6>
        <h6 class="card-title">Course Id: {{enrollment.section.courseId}}</h6>
        <h6 class="card-title">Availabel Seats:{{enrollment.section.seats}}</h6>
            <button (click)="unenrollUser(enrollment,user)" class = "float-right btn-danger btn">Unenroll</button>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
   
  <div id = "loginButton"> 
  <a class = "btn-primary btn" (click)="logout()">Logout</a>
</div>
  <div id = "Link2" *ngIf="!isAdmin">
  <a routerLink="/home">Click here to see Courses</a>
  </div>

  <div id = "Link1" *ngIf="isAdmin">
  <a routerLink="/home">Link to Admin Page</a>
  </div>
</div>
</div>
